<div class="content">
  <div class="title" [routerLink]="['/portfolio']">
    <h1>&#10094; Consultant matching tool</h1>
  </div>
  <h2>Matching and sourcing</h2>
  <p class="titletext">Dit proof-of-concept project werd als bachelorproef en stageopdracht ontwikkeld in opdracht van
    Inetum-Realdolmen. Deze tool stelt het sourcing team in staat om consultants aan opdrachten te koppelen, deze te
    beheren en op te volgen.</p>
  <div class="logo-box">
    <img alt="Logo Inetum-Realdolmen" src="assets/img/ScreenshotRD02.jpg">
  </div>
  <h3>Voorwoord</h3>
  <p>
    Deze opdracht werd ontwikkeld in samenwerking met de mensen van Inetum-Realdolmen en, mijn medestagiair, Cedric Van
    Opstal (<a href="https://github.com/CedricVO" target="blank">Github</a>). Cedric nam het onderdeel van de interne en
    externe
    consultants onder handen. Ik werkte aan het platform voor de resource officers. Deze demo zal enkel de schermen en
    functionaliteiten tonen waaraan ik gewerkt heb.
  </p>
  <p>
    Als technologie werd gekozen voor een frontend in Blazor met in de backend een api, geschreven in .NET 5. De taal
    C# was dus de rode draad tijdens de ontwikkeling van deze applicatie.
  </p>
  <h3>Azure</h3>
  <img class="photo-large" alt="Schermafdruk login" src="assets/img/ScreenshotRD03.gif">
  <p>
    Tijdens deze opdracht werd er intensief met Azure gewerkt. Niet alleen werd alle versiebeheer en DevOps via Azure
    TFS uitgevoerd, ook de hosting, beveiliging en monitoring maakten gebruik van de Azure technologie. Voor het
    inloggen maakte ik gebruik van Azure Active Directory. Op deze manier kon ik eenvoudig enkel Inetum-Realdolmen
    accounts laten aanmelden. Ook maakte ik specifieke rollen aan zodat enkel mensen met de rol 'resourceofficer' op het
    platform kunnen aanmelden.
  </p>
  <h3>Beheer van data</h3>
  <img class="photo-large" alt="Een voorbeeld van het beheren van de data" src="assets/img/ScreenshotRD06.gif">
  <p>
    Bij elke tabel is het mogelijk om info aan te maken, aan te passen of te verwijderen. De juiste invoervalidatie en
    (fout)meldingen worden gegeven om de gebruikservaring zo optimaal mogelijk te maken.
  </p>
  <h3>Filteren, samenstellen en sorteren</h3>
  <p>
    Elke tabel kan afzonderlijk gefilterd en gesorteerd worden. Op deze manier is het als gebruiker zeer eenvoudig om de
    juiste info op een snelle en overzichtelijke manier terug te vinden.
  </p>
  <div class="image-box">
    <img class="image-box-two" alt="Een voorbeeld van het sorteren van kolommen" src="assets/img/ScreenshotRD04.gif">
    <img class="image-box-two" alt="Een voorbeeld van het filteren van een tabel" src="assets/img/ScreenshotRD05.gif">
  </div>
  <p>
    Hiernaast beschikt de applicatie ook over de mogelijkheid tot het zelf samenstellen van de tabellen. Op basis van de
    voorkeuren van de resource officer, kunnen specifieke kolommen op zichtbaar of onzichtbaar gezet worden. Deze
    selectie wordt hierna in een waarde gecodeerd die bij het opnieuw opstarten van de applicatie kan worden
    gedecodeerd. Zo wordt de keuze per tabel bij elk bezoek bijgehouden.
  </p>
  <img class="photo-large" alt="Een voorbeeld van het samenstellen van de kolommen" src="assets/img/ScreenshotRD11.gif">
  <h3>Beheer van de consultants</h3>
  <p>
    Vanuit het sourcingteam is belangrijk om de consultants te kunnen beheren. Wanneer men een adres, een
    telefoonnummer, ... moet aanpassen, is het handig als dit niet telkens door de consultant zelf gedaan moet worden.
    Er zijn ook bepaalde velden die niet door de consultant beheerd kunnen worden. Waarden als de tarieven, extra
    notities, ... kunnen enkel door de resource officer bekeken en aangepast worden.
  </p>
  <img class="photo-large" alt="Een voorbeeld van het aanpassen van een consultant" src="assets/img/ScreenshotRD10.gif">
  <p>
    Omdat de tool het beheer van zowel interne- als externe consultants toelaat, werd deze functionaliteit ook voorzien.
    De tarieven van de interne consultants moeten bijvoorbeeld niet handmatig ingevuld worden, omdat dit op basis van
    senioriteit is.
  </p>
  <p>
    Daarnaast is het ook belangrijkdat consultants kunnen worden aangeduid als 'niet meer in gebruik' dit zal
    bijvoorbeeld van invloed zijn tijdens het matching proces (later hierover meer).
  </p>
  <img class="photo-large" alt="Een voorbeeld van het flaggen van een consultant" src="assets/img/ScreenshotRD07.gif">
  <p>
    Elke consultant heeft een pagina waar alle data in meer detail opgelijst staat. Dit is handig wanneer er
    bijvoorbeeld enkele kolommen onzichtbaar staan, of de resourceofficer is met één specifieke consultant bezig. Vanuit
    deze pagina worden de consultants ook aangepast. Op dit overzicht is het ook mogelijk om de cv van de consultant te
    downloaden, indien deze beschikbaar is.
  </p>
  <img class="photo-large" alt="Een voorbeeld van het downloaden van een cv" src="assets/img/ScreenshotRD08.gif">
  <p>
    Aan de rechterkant van de pagina bevindt zich ook een historisch overzicht van alle matches die er voor deze
    consultant gemaakt zijn. Meer over deze 'agreements' volgt later.
  </p>
  <p>
    Ten slotte is er in het globale overzicht de mogelijkheid om een export te maken van alle consultants. Dit is
    bijvoorbeeld handig om offline verder te werken of als backup systeem. Bij een export wordt er een .csv bestand
    gegenereerd met de data van deze tabel.
  </p>
  <img class="photo-large" alt="Een voorbeeld van het exporteren van de consultants"
    src="assets/img/ScreenshotRD09.gif">
  <p>
    Het .csv bestand kan hierna worden geïmporteerd in de favoriete spreadsheet applicatie van de resource officer (bv.
    Excel, Google Spreadsheets, ...).
  </p>
  <h3>Matching</h3>
  <p>

  </p>
</div>
