<div class="content">
    <div>
        <h1 style="font-style:italic">"Combining IT, passion for tech and enthousiasm since 1999"</h1>
        <p>Welkom op mijn portfolio website.</p>
        <p>Heel leuk dat je een kijkje wil komen nemen. Momenteel ben ik druk in de weer deze site helemaal up-and-running te krijgen en de nodige content toe te voegen. Zo wordt jouw bezoek aan thumblet.be een onvergetelijke ervaring.</p>
        <p>Er is inhoudelijk nog weinig te vinden, maar kom zeker binnen een paar weekjes terug om het resultaat te zien!</p>
        <p>Technologische groeten,
        </p>
    </div>
    <div class="profile" [routerLink]="['/aboutme']">
        <img src="assets/img/ThibautHumblet.jpg" class="profilepic">
<div class="profileInfo">
    Thibaut Humblet, 08/27/2020
</div>
    </div>
</div>