<div class="content">
    <div>
        <h1 style="font-style:italic">"Combining IT, passion for tech and enthousiasm since 1999"</h1>
        <p>Welkom op mijn portfolio website.</p>
        <p>Op deze plek kan je kennis maken met mij en mijn verschillende projecten. Ook kan je me hier al mijn officiële socials terugvinden en leer je welke technologieën ik interessant vind. Ten slotte is er ook hier en daar wat te lezen waar ik me in mijn vrije tijd mee bezig houd.</p>
        <p>Deze website wordt voortdurend up-to-date gehouden dus het is altijd aangeraden om hier af en toe een kijkje op te nemen!</p>
        <p>Technologische groeten,
        </p>
    </div>
    <div class="profile" [routerLink]="['/aboutme']">
        <img src="https://avatars2.githubusercontent.com/u/46007281?s=460&u=aeb550e40e8401e307d803fa2f402a8d5570d007&v=4" class="profilepic">
<div class="profileInfo">
    Thibaut Humblet, 07/05/2020
</div>
    </div>
</div>