<div class="content">
  <h1>Portfolio</h1>
  <p>Welkom op mijn persoonlijk portfolio. Hier zijn enkele projecten te vinden die ik de afgelopen jaren heb gemaakt.
    Sommige projecten werden ontwikkeld als opdracht voor school, andere projecten zijn uit persoonlijke interesse
    ontwikkeld.</p>
  <p>Bij elk project is een beetje uitleg en zijn enkele screenshots te vinden. In sommige gevallen heb ik ook
    documentatie of zelfs code snippets toegevoegd. Het merendeel van mijn projecten is ook terug te vinden op mijn
    Github account. Indien u vragen hebt over een specifiek project, aarzel dan niet om mij te contacteren. Veel
    kijkplezier!</p>

  <div class="grid-wrapper"></div>

  <div class="portfolio-grid grid-images">
    <div class="image-wrapper col">
      <img src="assets/img/ScreenshotCurrently01.jpg" class="thumbnail">
      <span class="tech">Typescript</span><span class="tech">NodeJS</span><span class="tech">C</span>
    </div>
    <div class="col col-left">
      <h2 class="portfolio-title">Currently</h2>
      <div class="portfolio-info">
        Currently is een all-in-one platform om het energieverbruik van ruimtes en apparaten te weten te komen. Ook
        toekomstig verbruik en optimalisatie-algoritmen werden toegepast.
      </div>
      <a [routerLink]="['/currently']">
        <div class="portfolio-link">
          Meer info &#10132;
        </div>
      </a>
    </div>
  </div>

  <div class="portfolio-grid grid-images">
    <div class="image-wrapper col">
      <img src="assets/img/ScreenshotBakerme01.png" class="thumbnail">
      <span class="tech">HTML</span><span class="tech">CSS</span><span class="tech">JavaScript</span>
    </div>
    <div class="col">
      <h2 class="portfolio-title">BakerMe</h2>
      <div class="portfolio-info">
        BakerMe is een bread-on-demand applicatie, gebaseerd op UberEats, TakeAway, ... De website is een prototype,
        volledig in HTML, CSS en Javascript geschreven. Als eerste 'groot' project heeft BakerMe een speciaal plekje in
        mijn hart.
      </div>
      <a [routerLink]="['/bakerme']">
        <div class="portfolio-link">
          Meer info &#10132;
        </div>
      </a>
    </div>
  </div>

  <div class="portfolio-grid grid-images">
    <div class="image-wrapper col">
      <img src="assets/img/ScreenshotKazouApi01.png" class="thumbnail">
      <span class="tech">Typescript</span><span class="tech">.NET</span>
    </div>
    <div class="col col-left">
      <h2 class="portfolio-title">KazouAPI</h2>
      <div class="portfolio-info">
        De KazouAPI handelt de vrijwilligersboekingen voor Kazou-vakanties af. De bestemmingen, profielen en
        engagementen worden op een overzichtelijke plaats bijgehouden. De gebruiker kan eenvoudig zaken terugvinden door
        gebruik van filtering, sorting, paginering, ... Er wordt ook gebruikgemaakt van externe API's om
        de gebruikservaring te optimaliseren.
      </div>
      <a [routerLink]="['/kazouapi']">
        <div class="portfolio-link">
          Meer info &#10132;
        </div>
      </a>
    </div>
  </div>

  <div class="portfolio-grid grid-images">
    <div class="image-wrapper col">
      <img src="assets/img/ScreenshotHap01.png" class="thumbnail">
      <span class="tech">Typescript</span><span class="tech">NodeJS</span>
    </div>
    <div class="col">
      <h2 class="portfolio-title">HAP</h2>
      <div class="portfolio-info">
        HAP is een prototype applicatie waar studenten online bestellingen kunnen plaatsen voor het studentenrestaurant
        van AP Hogeschool. Ook de werknemers van het studentenrestaurant hebben een overzicht van welke bestellingen er
        worden afgehandeld. Beheerders kunnen snel en eenvoudig prijzen en producten aanpassen, toevoegen en
        verwijderen.
      </div>
      <a [routerLink]="['/hap']">
        <div class="portfolio-link">
          Meer info &#10132;
        </div>
      </a>
    </div>
  </div>

  <div class="portfolio-grid grid-images">
    <div class="image-wrapper col">
      <img src="assets/img/ScreenshotDino02.jpg" class="thumbnail">
      <span class="tech">Monogame</span><span class="tech">C#</span>
    </div>
    <div class="col col-left">
      <h2 class="portfolio-title">Monogame: Dino platformer</h2>
      <div class="portfolio-info">
        Monogame is een C# framework waar men games kan ontwikkelen. Ik heb een Dino platforming game geschreven,
        volledig volgens de SOLID principes. Het doel van het spel is om de diamant op het einde van het level te pakken
        te krijgen. De dino beschikt over een speciale vaardigheid om stukken van de wereld aan te passen. Plezier
        gegarandeerd!
      </div>
      <a [routerLink]="['/monogamedino']">
        <div class="portfolio-link">
          Meer info &#10132;
        </div>
      </a>
    </div>
  </div>

  <div class="portfolio-grid grid-images">
    <div class="image-wrapper col">
      <img src="assets/img/ScreenshotUnity01.jpg" class="thumbnail">
      <span class="tech">Unity3D</span><span class="tech">C#</span><span class="tech">Blender</span>
    </div>
    <div class="col">
      <h2 class="portfolio-title">Unity3D: FPS zombie game</h2>
      <div class="portfolio-info">
        Voor het vak 3D game programming heb ik een first person shooter horror experience gemaakt. De game is
        onderverdeeld in twee verschillende levels; een klassieke 'survival' en een 'search and destroy', waar een
        speler zo snel mogelijk een standbeeld in een donker bos moet zoeken én vernietigen.
      </div>
      <a [routerLink]="['/unityzombie']">
        <div class="portfolio-link">
          Meer info &#10132;
        </div>
      </a>
    </div>
  </div>

  <div class="portfolio-grid grid-images">
    <div class="image-wrapper col">
      <img src="assets/img/ScreenshotBurrow04.jpg" class="thumbnail">
      <span class="tech">Java</span><span class="tech">AndroidStudio</span>
    </div>
    <div class="col col-left">
      <h2 class="portfolio-title">Burrow</h2>
      <div class="portfolio-info">
        Burrow is een prototype voor een Android applicatie waar gebruikers coupons in kunnen bijhouden. Wanneer de
        coupon bijna dreigt te vervallen, wordt de gebruiker gewaarschuwd met een melding. De gebruiker kan eenvoudig
        coupons toevoegen, aanpassen en verwijderen.
      </div>
      <a [routerLink]="['/burrow']">
        <div class="portfolio-link">
          Meer info &#10132;
        </div>
      </a>
    </div>
  </div>

  <div class="portfolio-grid grid-images">
    <div class="image-wrapper col">
      <img src="assets/img/ScreenshotKazousite01.png" class="thumbnail">
      <span class="tech">Typescript</span><span class="tech">HTML</span><span class="tech">CSS</span>
    </div>
    <div class="col">
      <h2 class="portfolio-title">Vrijwilligerswebsite KazouRMT</h2>
      <div class="portfolio-info">
        De vrijwilligerswebsite van Kazou RMT is in een nieuw jasje gestoken. In de nieuwe versie kunnen gebruikers snel
        en eenvoudig kijken welke activiteiten er in de nabije toekomst zijn. Daarnaast zijn er nog een hele hoop
        handige snufjes toegevoegd.
      </div>
      <a [routerLink]="['/kazousite']">
        <div class="portfolio-link">
          Meer info &#10132;
        </div>
      </a>
    </div>
  </div>

</div>
