<div class="content">
  <h1>Portfolio</h1>
  <p>Hieronder is een overzicht van alle noemenswaardige projecten ik reeds heb gedaan, met eventueel extra uitleg,
    naargelang de complexiteit van elk project. Ook eventuele projectpartners zijn hier terug te vinden.</p>
  <p>De uitleg kan heel technisch overkomen voor niet-informatici. Heb je specifieke vragen over een project? Is er iets
    niet duidelijk? Aarzel dan niet om me te contacteren!</p>
  <div class="portfolio">
    <div class="project" [routerLink]="['/currently']">
      <h2>Currently.be</h2>
      <img src="assets/img/ScreenshotCurrently01.jpg" class="thumbnail">
      <span class="tech">Typescript</span><span class="tech">NodeJS</span><span class="tech">Python</span>
      <p>Currently is een all-in-one platform om het energieverbruik van ruimtes en apparaten te weten te komen. Ook toekomstig verbruik en optimalisatie-algoritmen werden toegepast.</p>
    </div>
    <div class="project" [routerLink]="['/bakerme']">
      <h2>BakerMe</h2>
    </div>
    <div class="project" [routerLink]="['/kazouapi']">
      <h2>KazouAPI</h2>
    </div>
    <div class="project" [routerLink]="['/hap']">
      <h2>HAP</h2>
    </div>
    <div class="project" [routerLink]="['/monogamedino']">
        <h2>Monogame: Dino platformer</h2>
      </div>
      <div class="project" [routerLink]="['/unityzombie']">
        <h2>Unity3d: Zombie Survival + S&D</h2>
      </div>
  </div>
</div>
