<div class="content">
  <h1>Portfolio</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias laboriosam esse laborum totam sint omnis magni
    dolor explicabo repudiandae natus.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, natus repellat ullam, quaerat deleniti,
    cupiditate repudiandae distinctio soluta nihil adipisci a placeat fuga aspernatur hic. Perferendis architecto at
    aliquid unde!</p>

  <div class="grid-wrapper"></div>

  <div class="portfolio-grid grid-images">
    <div class="image-wrapper col">
      <img src="assets/img/ScreenshotCurrently01.jpg" class="thumbnail">
      <span class="tech">Typescript</span><span class="tech">NodeJS</span><span class="tech">Python</span>
    </div>
    <div class="col col-left">
      <h2 class="portfolio-title">Currently</h2>
      <div class="portfolio-info">
        Currently is een all-in-one platform om het energieverbruik van ruimtes en apparaten te weten te komen. Ook
        toekomstig verbruik en optimalisatie-algoritmen werden toegepast.
      </div>
      <a [routerLink]="['/currently']">
        <div class="portfolio-link">
          Meer info &#10132;
        </div>
      </a>
    </div>
  </div>

  <div class="portfolio-grid grid-images">
    <div class="image-wrapper col">
      <img src="assets/img/ScreenshotCurrently04.jpg" class="thumbnail">
      <span class="tech">HTML</span><span class="tech">CSS</span><span class="tech">JavaScript</span>
    </div>
    <div class="col">
      <h2 class="portfolio-title">BakerMe</h2>
      <div class="portfolio-info">
        BakerMe is een bread on demand applicatie, gebaseerd op UberEats, TakeAway, ... De website is een prototype,
        volledig in HTML, CSS en Javascript geschreven.
      </div>
      <a [routerLink]="['/currently']">
        <div class="portfolio-link">
          Meer info &#10132;
        </div>
      </a>
    </div>
  </div>

  <div class="portfolio-grid grid-images">
    <div class="image-wrapper col">
      <img src="assets/img/ScreenshotCurrently02.jpg" class="thumbnail">
      <span class="tech">Typescript</span><span class="tech">.NET</span>
    </div>
    <div class="col col-left">
      <h2 class="portfolio-title">KazouAPI</h2>
      <div class="portfolio-info">
        De KazouAPI handelt de vrijwilligersboekingen voor Kazou-vakanties af. De bestemmingen, profielen en
        engagementen worden op een overzichtelijke plaats bijgehouden. Er wordt ook gebruik gemaakt van externe API's om
        de gebruikservaring te optimaliseren.
      </div>
      <a [routerLink]="['/currently']">
        <div class="portfolio-link">
          Meer info &#10132;
        </div>
      </a>
    </div>
  </div>

  <!--   <div class="portfolio">
    <div class="project" [routerLink]="['/currently']">
      <h2>Currently.be</h2>
      <img src="assets/img/ScreenshotCurrently01.jpg" class="thumbnail">
      <span class="tech">Typescript</span><span class="tech">NodeJS</span><span class="tech">Python</span>
      <p>Currently is een all-in-one platform om het energieverbruik van ruimtes en apparaten te weten te komen. Ook
        toekomstig verbruik en optimalisatie-algoritmen werden toegepast.</p>
    </div>
    <div class="project" [routerLink]="['/bakerme']">
      <h2>BakerMe</h2>
    </div>
    <div class="project" [routerLink]="['/kazouapi']">
      <h2>KazouAPI</h2>
    </div>
    <div class="project" [routerLink]="['/hap']">
      <h2>HAP</h2>
    </div>
    <div class="project" [routerLink]="['/monogamedino']">
      <h2>Monogame: Dino platformer</h2>
    </div>
    <div class="project" [routerLink]="['/unityzombie']">
      <h2>Unity3d: Zombie Survival + S&D</h2>
    </div>
  </div> -->
</div>
