h2 {
  font-size: 40px;
  color: #333;
  font-family: sans-serif;
  margin-bottom: 4vh;
}

h3 {
    font-size: 30px;
    color: #333;
    margin-bottom: 2vh;
}

p {
  margin-bottom: 3vh;
}

.title:focus {
  border: 0;
  outline: none;
}

h1:hover {
  color: #777;
}

.titletext {
  font-family: sans-serif;
  color: #555;
  font-size: 25px;
  line-height: 1.2em;
  font-weight: 400;
}

.logo-box img {
  margin-bottom: 3vh;
  max-width: 100%;
}

.image-box {
  margin-bottom: 3vh;
}

.image-box-two {
  max-width: 100%;
  margin-bottom: 1vh;
}

.photo-large {
  max-width: 100%;
  margin-bottom: 3vh;
}

.learn-more {
  padding: 4em 2em 4em 5em;
  margin: 5vh -5vw 0 -5vw;
  background-color: #007AFC;
  width: fit-content;
}

.learn-more p, .learn-more h3 {
  color: #fff
}

.btn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-size: large;
  height: 5vh;
  width: fit-content;
  padding: 0em 2rem;
  transition: background-color .9s ease, color 1s ease;
  margin-top: 1vh;
  cursor: pointer;
}

.btn:hover {
  color: #007AFC;
  background-color: #fff;
}

.btn:focus {
  border: 0;
  outline: none;
}


@media (min-width: 901px) {
  h2 {
    max-width: 85%;
    font-size: 60px;
  }

  p {
    margin-bottom: 3vh;
    width: 75%;
  }
  
  ul {
    width: 60%;
  }

  .titletext {
    font-size: 30px;
    max-width: 90%;
  }

  .logo-box img {
    max-width: 30vw;
  }

  .photo-large {
    max-width: 90%;
  }

  .image-box {
    display: flex;
  }

  .image-box-two {
    padding: 5px;
    width: 45%;
    margin-bottom: 0;
  }
  
  .learn-more {
    margin: 7vh 0 7vh 0;
  }
}

@media (min-width: 1100px) {
  h2 {
    max-width: 65%;
  }

  .logo-box {
    display: grid;
    place-items: center;
    padding-top: 3vh;
    margin-bottom: 5vh;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #485160;
  }

  .titletext {
    max-width: 70%;
  }
}
