<div class="content">
  <div class="title" [routerLink]="['/portfolio']">
    <h1>&#10094; Currently</h1>
  </div>
  <h2>"Taking back control over your electronic devices"</h2>
  <p class="titletext">Een all-in-one project, zowel hardware als software. Databases, microcotrollers, meerdere programmeertalen, optimalisatie-algoritmen en nog veel meer. Welkom bij Currently!</p>
  <h3>Wat is Currently?</h3>
  <p>Currently is een digitaal platform ontworpen om een beter overzicht te krijgen in wat een elektronisch toestel verbruikt. Tegenwoordig pluggen we apparaten in, zonder er bij stil te staan hoeveel energie we eigenlijk 'verspillen'. Dankzij de slimme meters van Currently en een gebruiksvriendelijk platform, is het ontzettend eenvoudig om hier het overzicht over te krijgen</p>
</div>
