<div class="content">
  <div class="title" [routerLink]="['/portfolio']">
    <h1>&#10094; HAP</h1>
  </div>
  <h2>Projectmanagement: eerste stappen</h2>
  <p class="titletext">HAP werd ontwikkeld met de focus op projectmatig werken. De naam is een woordspeling tussen een hap nemen en AP, de hogeschool in Antwerpen.</p>
  <img class="photo-large" alt="Schermafdruk hoofdpagina HAP" src="assets/img/ScreenshotHap01.png">
  <h3>HAP?</h3>
  <p>De opdracht werd gegeven in kader van het vak projectmanagement. Hier leerden we volgens de Agile-methodiek aan een project werken. HAP is een online service waar studenten hun bestelling voor het studentenrestaurant konden doorgeven. De focus lag dus in dit project vooral op de rit, en minder op de bestemming. Desondanks werd de uitwerking warm onthaald en konden we een sterk eindproduct afleveren.</p>
  <h3>Angular framework</h3>
  <p>Het is tijdens dit project dat ik mezelf het Angular framework heb aangeleerd. Het is dit framework dat ik in veel andere projecten ook gebruikt heb. Zonder HAP zou ik het Angular framework waarschijnlijk links hebben laten liggen. Wie weet hoe de rest van de projecten er dan had uitgezien..</p>
  <p>De styling werd gedaan met behulp van Bootstrap. Dit framework zorgt ervoor dat er snel en eenvoudig styling aan een project toegevoegd kan worden zonder hiervoor uren code te moeten schrijven. Aangezien de 'looks' er niet toe deden, was dit een ideale oplossing.</p>
  <img class="photo-large" alt="Schermafdruk assortiment" src="assets/img/ScreenshotHap02.png">
  <h3>Zo waarheidsgetrouw mogelijk</h3>
  <p>We wilden HAP zodanig ontwikkelen zodat eht daadwerkelijk gebruikt kon worden. Daarom werd er een toepassing geschreven die de restaurantmedewerkers konden gebruiken. Hier konden ze een overzicht zien van alle huidige bestellingen met hun status ervan.</p>
  <p>In ons prototype kreeg elke unieke bestelling een unieke ID. Dit zorgde ervoor dat er meerdere producten in dezelfde bestelling zitten. Bij een order krijgt de klant een bevestigingsmail met zijn order-ID op.</p>
  <img class="photo-large" alt="Schermafdruk orders" src="assets/img/ScreenshotHap03.jpg">
  <p>Daarnaast konden de medewerkers ook producten aan het assortiment toevoegen en dit vanuit de backend bekijken. Dit werd met de standaard CRUD-acties behandeld in de backend.</p>
  <div class="image-box">
    <img class="image-box-two" alt="Een screenshot product toevoegen" src="assets/img/ScreenshotHap05.jpg">
    <img class="image-box-two" alt="Een screenshot van De producten in de backend" src="assets/img/ScreenshotHap04.jpg">
  </div>
  <p>Ten slotte zorgden we voor de volledige takeaway-look door een scherm te voorzien waar de status van de bestellingen is samengevat. Hier kan men kijken welke bestellingen er bereid worden en welke er klaar zijn. De bedoeling is dat dit scherm zou ophangen op een zichtbare plaats zodat het eenvoudig geraadpleegd kan worden.</p>
  <img style="border: solid 1px #ccc;" class="photo-large" alt="Schermafdruk assortiment" src="assets/img/ScreenshotHap06.jpg">

  <div class="learn-more">
    <h3>Honger gekregen in meer?</h3>
    <p>Restauranthouder die graag een soortgelijk systeem wilt? Wil je meer leren over HAP?</p>
    <button [routerLink]="'/contact'" class="btn">Contact
      &#10095;</button>
  </div>
</div>
