<div class="content">
  <h1>Over mij</h1>
  <p><strong>Tip:</strong> klik op de onderdelen om meer te weten te komen!</p>
<mgl-timeline [alternate]="false" [focusOnOpen]="true">
    <mgl-timeline-entry>
        <mgl-timeline-entry-header>Hello World!</mgl-timeline-entry-header>
        <mgl-timeline-entry-content>In de zomer van 1999 zag ik het eerste levenslicht. Mijn vroege jeugd groeide ik op in de stille Kempen. Hier zal ik tot op heden blijven wonen.</mgl-timeline-entry-content>
        <mgl-timeline-entry-side>1999</mgl-timeline-entry-side>
    </mgl-timeline-entry>
    <mgl-timeline-entry>
      <mgl-timeline-entry-header>Kardinaal Van Roey Instituut</mgl-timeline-entry-header>
      <mgl-timeline-entry-content>Mijn middelbare schoolcarrière begon bij de opleiding moderne wetenschappen in de A-stroom. Hierna begon ik aan de richting Economie - moderne talen. <br><br>Afstuderen in de derde graad deed ik met het diploma Boekhouden en Informatica (onderscheiding). Tijdens deze opleiding kreeg ik mijn eerste echte aanraking met mijn passie; informatica en IT.</mgl-timeline-entry-content>
      <mgl-timeline-entry-side>2011 - 2018</mgl-timeline-entry-side>
  </mgl-timeline-entry>
  <mgl-timeline-entry>
    <mgl-timeline-entry-header>Bachelor Elektronica-ICT</mgl-timeline-entry-header>
    <mgl-timeline-entry-content>Na het afstuderen in de humaniora, begon ik aan de bacheloropleiding Elektronica-ICT aan de AP Hogeschool in Antwerpen. Hier koos ik voor het Cloud Applications traject. Dit traject heeft de focus op Full-Stack applicaties, DevOps, security en projectmanagement. Een hele reeks programmeertalen en technologieën passeerden de revue (bv. Python, Java, C, Bash, JavaScript/Typescript) maar de grootste focus lag bij .NET, een taal die me nauw aan het hart ligt.<br><br>Hiernaast zal ik mij ontplooien tot studentenvertegenwoordiger en ondervoorzitter van de departementale studentenraad. Het departement Wetenschappen en Techniek is met haar +4000 studenten goed voor het grootste departement van de hogeschool.
      </mgl-timeline-entry-content>
    <mgl-timeline-entry-side>2018 - heden</mgl-timeline-entry-side>
</mgl-timeline-entry>
<mgl-timeline-entry>
  <mgl-timeline-entry-header>Stage Inetum-Realdolmen</mgl-timeline-entry-header>
  <mgl-timeline-entry-content>Ik begon in het voorjaar van 2021 aan mijn stage als .NET Intern aan het consultancybedrijf Inetum-Realdolmen. Hier bouw ik een full-stack .NET applicatie om het consultancy matching proces te verbeteren. <br><br> Met een grondige analyse fase werd eerst de hele applicatie uitgedokterd. Daarna werden er mockups ontworpen en kon het ontwikkelen beginnen. Ten slotte zijn DevOps en testing niet van de opdracht weg te denken.</mgl-timeline-entry-content>
  <mgl-timeline-entry-side>2021</mgl-timeline-entry-side>
</mgl-timeline-entry>
</mgl-timeline>
</div>