.middle {
    padding-top: 3vh;
	width: 90%;
}

.btn {
	display: inline-block;
	width: 90px;
	height: 90px;
    margin: 15px;
	background-color: #f1f1f1;
	border-radius: 50%;
	box-shadow: 0 5px 15px -5px #00000070;
	color: #007AFC;
	overflow: hidden;
	position: relative;
    text-align: center;
}

.btn i {
	line-height: 90px;
	font-size: 36px;
	transition: 0.2 linear;
}
.btn:hover i {
	transform: scale(1.3);
	color: #f1f1f1;
}
.btn::before{
content: "";
position: absolute;
width: 120%;
height: 120%;
background-color: #3498db;
transform: rotate(45deg);
left: -110%;
top: 90%;
}
.btn:hover::before{
	animation: aaa 0.7s 1;
	top: -10%;
	left: -10%;
}
.github:hover::before{
	background: #333;
}
.facebook:hover::before{
	background: #3b5999;
}
.instagram:hover::before{
	background: #e4405f;
}
.linkedin:hover::before {
	background: #0e76a8;
}

@keyframes aaa {
	0%{
		left: -110%;
		top: 90%;
	}
	50%{
		left: 10%;
		top: -30%
	}
	100%{
		top: -10%;
		left: -10%;
	}
}