<div class="content">
    <h1>Contact</h1>
    <p>Mij contacteren kan op veel plaatsen. Het ene netwerk gebruik ik al wat vaker dan het andere. Hieronder is een overzicht te zien;</p>
    <div class="middle">
              <a class="btn facebook" href="https://www.facebook.com/ThibautOfficial/" target="_blank">
                  <i class="fab fa-facebook-f"></i>
              </a>
              <a class="btn twitter" href="https://twitter.com/HumbletThibaut" target="_blank">
                  <i class="fab fa-twitter"></i>
              </a>
              <a class="btn linkedin" href="https://www.linkedin.com/in/thibauthumblet/" target="_blank">
                  <i class="fab fa-linkedin"></i>
              </a>
              <a class="btn instagram" href="https://www.instagram.com/thibauthumblet/" target="_blank">
                  <i class="fab fa-instagram"></i>
              </a>
              <a class="btn github" href="https://github.com/ThibautHumblet" target="_blank">
                  <i class="fab fa-github"></i>
              </a>
      
          </div>
</div>
