<div class="content">
  <div class="title" [routerLink]="['/portfolio']">
    <h1>&#10094; Bakerme</h1>
  </div>
  <h2>Breakfast at your fingertips</h2>
  <p class="titletext">Als eerste 'grote' opdracht die ik voor school moest maken, heeft BakerMe een speciaal plaatsje
    in mijn hart. Volledig in HTML en CSS geschreven, met een scheutje JavaScript werd het prototype gemaakt van een
    revolutionair idee.</p>
  <p>Het concept van Bakerme is vrij eenvoudig. De gebruiker bestelt via de website zijn bakkerij-artikelen en
    vervolgens komt een bezorger deze leveren. Zo moet er niet meer in de ochtend naar de bakker worden gegaan. Het is
    als het ware een beetje een Deliveroo/UberEats/TakeAway; maar dan voor artikelen uit de warme bakker.</p>
  <img class="photo-large" alt="Schermafdruk hoofdpagina bakerme" src="assets/img/ScreenshotBakerme01.png">
  <p>Qua technologieën die er gebruikt werden, is BakerMe niet zo'n speciaal project. Elke student ICT kan tegenwoordig
    wel een statische website programmeren. Er werd wel gebruik gemaakt van diverse CSS technieken zoals responsive
    webdesign (mobile first approach), css grid, flexbox, transitions, ...</p>
  <h3>Mobile first!</h3>
  <div class="image-box">
    <img class="image-box-two screenshotmobile" alt="Schermafdruk hoofdpagina bakerme mobile"
      src="assets/img/ScreenshotBakerme03.png">
    <img class="image-box-two screenshotmobile" alt="Schermafdruk webshop bakerme mobile"
      src="assets/img/ScreenshotBakerme04.jpg">
  </div>
  <p>Bakerme is zodanig geschreven dat de gebruiker altijd een versie te zien krijgt die goed leesbaar is vanop eender
    welk apparaat. Of dat nu een desktop, notebook, tablet of smartphone is. De indexpagina ziet er zelfs volledig
    anders uit wanneer de gebruiker zich op een mobiel apparaat bevindt. Dit komt omdat een mobiele gebruiker niet uren
    door verschillende menu's wil lopen. Gebruiksvriendelijkheid is en blijft een topprioriteit!</p>
  <h3>Webshop ... -ish</h3>
  <p>Toen we deze opdracht kregen, hadden we nog geen JavaScript gezien. De JavaScript in dit project is dus een
    primitieve versie van een winkelwagentje. De gebruiker kan producten kiezen en de aantallen ingeven. Deze worden
    vervolgens via een cookie aan het winkewagentje toegevoegd.</p>
  <img class="photo-large" alt="Schermafdruk webshop bakerme" src="assets/img/ScreenshotBakerme02.png">
  <p>Als ik nu BakerMe opnieuw zou maken, zou het project er helemaal anders uitzien. Waarom ik een 'beginner'-project
    als BakerMe aan mijn portfolio heb toegevoegd, heeft meerdere redenen;</p>
  <ul>
    <li>Bakerme is en blijft een project waar ik veel plezier aan heb beleefd tijdens het programmeren</li>
    <li>Door ook een beginnersproject te tonen, kan men de vooruitgang die ik de afgelopen jaren heb geboekt zien</li>
    <li>Niet alle code is perfect, zeker bij beginners. Beginnende programeurs die mijn portfolio bezoeken kunnen zien
      dat kleine projecten ook oke zijn. Door een open houding aan te nemen, kunnen we van elkaar en onze fouten leren.
    </li>
  </ul>
  <p>Ik heb uit dit schoolproject ontzettend veel geleerd. Ook heb ik de HTML en CSS vaardigheden waarvan ik dacht dat
    ik ze al lang onder de knie heb, extra kunnen bijsleutelen. Ik kan dus stellen dat ik alleen maar positieve
    ervaringen heb met dit project. Geen gigantische roadblocks of code waar men door de bomen door het bos niet ziet.
    Meer heeft een informaticus soms niet nodig.</p>
  <div class="learn-more">
    <h3>Wil je meer info over BakerMe?</h3>
    <p>Beginnende programmeur? Zoek je inspiratie voor een klein project?</p>
    <button [routerLink]="'/contact'" class="btn">Contact
      &#10095;</button>
    <a href="https://github.com/ThibautHumblet/BakerMe" target="_blank">
      <button class="btn">Bezoek mijn Github
        &#10095;</button>
    </a>
  </div>
</div>
